@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

.avatar{
    height: 300px;
    width: 320px;
    border-radius: 50%;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.m-auto{
    margin: auto;
}
.pad-bot-1{
    padding-bottom: .5em;
}
.has-text-navy{
    color: #293242;
}
.heigth-1{
    height: 1em;
}
.pro{
    width: 90%;
}